<div id="auth">
  <a *ngIf="!loggedIn()" class="button is-dark is-medium" (click)="onAuthorize()">Authorize</a>
</div>
<div id="lout" *ngIf="loggedIn()" >
  <a class="button is-dark is-medium" (click)="onLogout()">Logout</a>
</div>
<div class="columns" *ngIf="loggedIn()">
  <div class="column is-3">
    <form (submit)="searchPage(0)">
       <label class="label">Search</label>
        <p class="control">
        <input [(ngModel)]="query" name="query" class="input" type="text" placeholder="Search" required>
      <input class="button is-dark is-small" type="submit" value="Search">
  </p>
    </form>
</div>
</div>


<!-- 
  Displaying cards for each profile by iterating results
-->
<div class="columns is-multiline is-flex-desktop-only">
<div class="column is-6" *ngFor="let result of results">
<div class="card">
  <div class="card-content">
    <div class="media">
      <div class="media-left">
        <figure class="image is-48x48">
          <img src={{result.profile_image.medium}} alt="Image">
        </figure>
      </div>
      <div class="media-content">
        <p class="title is-4">{{result.name}}</p>
        <p class="subtitle is-6">@{{result.username}}</p>
      </div>
    </div>

    <div class="content">
      {{result.bio}}
      <br>
      <a href="{{result.portfolio_url}}">{{result.portfolio_url}}</a>
       <br>
      <small>{{result.location}}</small>
    </div>
    
  </div>
  <footer class="card-footer">
  <span class="icon card-footer-item">
    <i class="fa fa-thumbs-up" aria-hidden="true">  {{result.total_likes}}</i>
  </span>
  <span class="icon card-footer-item">
    <i class="fa fa-picture-o" aria-hidden="true">  {{result.total_photos}}</i>
  </span>
  <span class="icon card-footer-item">
    <i class="fa fa-file" aria-hidden="true">  {{result.total_collections}}</i>
  </span>
  </footer>
</div>
</div>
</div>


<!-- 
  Pagination
  *still need to be furnished*
-->
<div *ngIf="loggedIn()">
<nav class="pagination is-centered">
  <a class="pagination-previous" (click)="searchPage(-1)" *ngIf="currentPage!=1">Previous</a>
  <a class="pagination-next" (click)="searchPage(1)" *ngIf="currentPage!=total_pages">Next page</a>
  <ul class="pagination-list" *ngFor="let result of results;let i=index">
    <li><a class="pagination-link" *ngIf="currentPage" [ngClass]="i === currentPage-1?'is-current':''" (click)="search(i+1)">{{i+1}}</a></li>
  </ul>
</nav>
</div>