#auth,#lout {
    text-align: center;
}

.pagination-link,.pagination-previous,.pagination-next{
   color: black;
}

.pagination-link.is-current {
    background-color:black;
    border-color: whitesmoke;
    color: whitesmoke;
}